@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@keyframes animation-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* TAILLE DES PLANÈTES
 *
 *  taille de la terre c'est 100px de diamètre
 *  calculer la taille des autres : 
 *  mercure : 2.6 plus petite
 *  venus : 1.1 plus petite
 * */
.sun {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-color: orange;
  flex-shrink: 0;
}

.planet {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: pink;
  flex-shrink: 0;
}
.planet--mercury {
  border-radius: 100%;
  width: 38.4615384615px;
  height: 38.4615384615px;
  background-color: green;
  flex-shrink: 0;
  transform-origin: -120px 19.2307692308px;
  animation: animation-rotate 10s linear infinite;
}
.planet--venus {
  border-radius: 100%;
  width: 90.9090909091px;
  height: 90.9090909091px;
  background-color: purple;
  flex-shrink: 0;
  transform-origin: -178.4615384615px 45.4545454545px;
  animation: animation-rotate 15s linear infinite;
}
.planet--earth {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: blue;
  flex-shrink: 0;
  transform-origin: -280px 50px;
  animation: animation-rotate 15s linear infinite;
}
.planet--mars {
  border-radius: 100%;
  width: 52.6315789474px;
  height: 52.6315789474px;
  background-color: red;
  flex-shrink: 0;
  transform-origin: -352.6315789474px 26.3157894737px;
  animation: animation-rotate 20s linear infinite;
}
.planet--jupiter {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: yellow;
  flex-shrink: 0;
  transform-origin: -590px 75px;
  animation: animation-rotate 22s linear infinite;
}
.planet--saturn {
  border-radius: 100%;
  width: 140px;
  height: 140px;
  background-color: #CCCCFF;
  flex-shrink: 0;
  transform-origin: -660px 70px;
  animation: animation-rotate 18s linear infinite;
}
.planet--uranus {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  background-color: #40E0D0;
  flex-shrink: 0;
  transform-origin: -680px 60px;
  animation: animation-rotate 15s linear infinite;
}
.planet--neptune {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  background-color: #3498db;
  flex-shrink: 0;
  transform-origin: -730px 65px;
  animation: animation-rotate 22s linear infinite;
}

.satellite, .satellite--deimos, .satellite--phobos, .satellite--moon {
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  color: white;
}
.satellite--moon {
  background-color: grey;
  transform-origin: 50% calc(50% + 50px);
  animation: animation-rotate 5s linear infinite;
}
.satellite--phobos {
  background-color: white;
  transform-origin: 50% calc(50% + 26.3157894737px);
  animation: animation-rotate 5s linear infinite;
}
.satellite--deimos {
  background-color: orange;
  transform-origin: 50% calc(50% + 26.3157894737px);
  animation: animation-rotate 2s linear infinite;
}

.galaxy {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  gap: 20px;
  margin-left: calc(50vw - 100px);
}